.states:hover {
  stroke: black;
  opacity: 0.7;
  cursor: pointer;
  stroke-width: 3px;
}
#map-container {
  height: 400px;
}

.dashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stateSelected {
  opacity: 1;
  stroke-width: 3px;
  stroke: black;
}
.dashboard h3 {
  text-align: center;
}

.selected {
  color: black;
  width: 300px;
}
.selected:after {
  content: "\2713";
  position: absolute;
  left: 56px;
  font-size: 22px;
  color: black;
  margin-top: -2px;
}
.button:nth-child(2) {
  width: 192px !important;
}

.button {
  outline: none;
  cursor: pointer;
  display: block;
  border: 0 !important;
  display: flex;
  font-size: 15px;
  align-items: center;
  width: 140px;
}

.button:before {
  content: "";
  border: 1px solid grey;
  height: 12px;
  width: 12px;
  display: block;
  margin-right: 10px;
}

.datasetHeader {
  padding-left: 15px;
}
.signout {
  position: absolute;
  top: 30px;
  right: 30px;
  background: orange;
  outline: none;
  border: 0px;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 10px 1px lightgrey;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  #map-container {
    max-height: 300px;
  }
}

@media screen and (max-width: 1050px) {
  .dashboard {
    flex-direction: column;
  }
  .chart {
    margin: 50px 0;
  }
}
